asgiref==3.9.1
-e git+https://github.com/AlmagulZhaparova/django-sprint1.0-main.git@a7ffc2702403ca5f1ebe11ac747fcb5730f9d698#egg=blogicum
click==8.3.0
colorama==0.4.6
Django==5.1.1
django-extensions==4.1
flake8==7.1.1
flake8-docstrings==1.7.0
iniconfig==2.1.0
mccabe==0.7.0
packaging==25.0
pep8-naming==0.14.1
pillow==11.3.0
pluggy==1.6.0
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
pytest==8.3.3
pytest-django==4.9.0
pytest-pythonpath==0.7.3
setuptools==80.9.0
snowballstemmer==3.0.1
sqlparse==0.5.3
svgwrite==1.4.3
Tree==0.2.4
tzdata==2025.2
